<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Main Page</title>
    <link href="/styles.css" rel="stylesheet" type="text/ss"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script> 
      $(document).ready(function(){
        $('#getAllButton').click(function(){
          $.ajax({
            url: 'transactions/',
            type: 'GET',
            dataType: 'json',
            success: (data) => {
              var emp ='';
              data.sort((a,b) => b.amount_usd - a.amount_usd);
              for(key in data){
                
              }
              //emp += JSON.stringify(data[key].amount);
              emp += JSON.stringify(data);
              $('#status').html(emp);
            }
          })
        })
    });
    </script>
    <style>
      #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #customers tr:nth-child(even){background-color: #f2f2f2;}

      #customers tr:hover {background-color: #ddd;}

      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
</style>
  </head>
  <body>
    {{ message }}
    <button id='getAllButton'>Get all transactions</button>
    <div id='status'></div>
    <table id="customers">
      <tr>
        <th>BTC Amount</th>
        <th>USD Amount</th>
        <th>Transaction ID</th>
        <th>From</th>
        <th>To</th>
        <th>Time</th>
      </tr>
    </table>
  </body>
</html>