<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Main Page</title>
    <link href="/styles.css" rel="stylesheet" type="text/ss"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script> 
      $(document).ready(function(){
        $.fn.printOnTable = function(emp){
          var content = '<tr>';
          for(var i = emp.length - 1; i >= 0; i--){
            content += ('<td>' + emp[i] + '</td>');
          }
          content += '</tr>';
          $('#customers').append(content);
        }
        $('#getAllButton').click(function(){
          $.ajax({
            url: 'transactions/',
            type: 'GET',
            dataType: 'json',
            success: (data) => {
              data.sort((a,b) => b.amount_usd - a.amount_usd);
              // # of transactions, repeats 4 times
              for(key in data){
                var emp = [];
                var datakey = data[key];
                for(obj in datakey){
                  if(obj =='amount'){
                    //console.log(datakey.amount);
                    //$.fn.printOnTable(datakey.amount);
                    emp.push(datakey.amount);
                  }
                  if(obj =='amount_usd'){
                    //console.log(datakey.amount_usd);
                    //$.fn.printOnTable(datakey.amount_usd);
                    emp.push(datakey.amount_usd);
                  }
                  if(obj =='id'){
                    //console.log(datakey.id);
                    emp.push(datakey.id);
                  }
                  if(obj =='from'){
                    var ob = datakey[obj];
                    for(var j in ob){
                      //console.log('f'+ob.owner);
                      emp.push(ob.owner);
                      break;
                    }
                  }
                  if(obj =='to'){
                    var ob = datakey[obj];
                    for(var j in ob){
                      //console.log('t'+ob.owner);
                      emp.push(ob.owner);
                      break;
                    }
                  }
                  if(obj =='timestamp'){
                    //console.log(datakey.timestamp);
                    emp.push(datakey.timestamp);
                  }
                }
                //prints array [id, from, to, timestamp, amount, amount_usd]
                //console.log(emp);
                $.fn.printOnTable(emp);
              }
              //emp += JSON.stringify(data[key].amount);
              emp += JSON.stringify(data);
              $('#status').html();
            }
          })
        })
    });
    </script>
    <style>
      #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #customers tr:nth-child(even){background-color: #f2f2f2;}

      #customers tr:hover {background-color: #ddd;}

      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
</style>
  </head>
  <body>
    {{ message }}
    <button id='getAllButton'>Get all transactions</button>
    <div id='status'></div>
    <table id="customers">
      <tr>
        <th>USD Amount</th>
        <th>BTC Amount</th>
        <th>Transaction ID</th>
        <th>To</th>
        <th>From</th>
        <th>UTC Time</th>
      </tr>
    </table>
  </body>
</html>